.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #76950d;
  border: 1px solid rgb(54, 54, 54);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #a7d60b;
  border-color: rgb(54, 54, 54);
}